<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SignUpFilter</filter-name>
        <filter-class>thinhtpt.filter.SignUpFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignInFilter</filter-name>
        <filter-class>thinhtpt.filter.SignInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PostArticleFilter</filter-name>
        <filter-class>thinhtpt.filter.PostArticleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PostCommentFilter</filter-name>
        <filter-class>thinhtpt.filter.PostCommentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyEmailFilter</filter-name>
        <filter-class>thinhtpt.filter.VerifyEmailFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>thinhtpt.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UnautenticationFilter</filter-name>
        <filter-class>thinhtpt.filter.UnautenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TemplatesFilter</filter-name>
        <filter-class>thinhtpt.filter.TemplatesFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyFilter</filter-name>
        <filter-class>thinhtpt.filter.VerifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>VerifyFilter</filter-name>
        <url-pattern>/verify.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TemplatesFilter</filter-name>
        <url-pattern>/templates/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UnautenticationFilter</filter-name>
        <url-pattern>/signIn.html</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/search.jsp</url-pattern>
        <url-pattern>/post.jsp</url-pattern>
        <servlet-name>CountReactionSerlvet</servlet-name>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-name>PostArticleServlet</servlet-name>
        <servlet-name>PostCommentServlet</servlet-name>
        <servlet-name>ReactArticleServlet</servlet-name>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-name>ShowCommentServlet</servlet-name>
        <servlet-name>ShowNotificationServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyEmailFilter</filter-name>
        <url-pattern>/VerifyEmailServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PostCommentFilter</filter-name>
        <url-pattern>/PostCommentServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PostArticleFilter</filter-name>
        <url-pattern>/PostArticleServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignInFilter</filter-name>
        <url-pattern>/SignInServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignUpFilter</filter-name>
        <url-pattern>/SignUpServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>thinhtpt.listener.MyServletListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <!--Log4J setting-->
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <!--Mail setting-->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>465</param-value>
    </context-param>
    <context-param>
        <param-name>address</param-name>
        <param-value>EMAIL_HERE</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>PASSWORD_HERE</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
