.card {
    height: 450px;
}

.card-title,
.card-body .card-text:nth-child(2) {
    height: 50px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;  
    text-overflow: ellipsis;
}

.card-img-top {
    height: 200px;
}